.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  // Replacement for display:none when we want to animate the element at some stage. Opacity & visibility needs to be specified.
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table; // Parent element is a table, so children display: table-cell will automatically give children the same height
    overflow: hidden; // hide img overflow to show rounded corners below img corner
    opacity: 0;
    // Since we already have a transform in the absCenter, the last one overrides the first one. Therefore we need to repeat it here for it to show. 
    transform: translate(-50%,-50%) scale(.25);
    transition: all .5s .2s;
  }

  &__left {
    width: 33.3333333%;
    display: table-cell;
  }
  &__right {
    width: 66.6666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-greyLight-2;

    column-count: 2; // automatically creates specified number of columns. CSS automatically tries to balance content of columns equally.
    column-gap: 4rem; // Reminder 1em = 14px because 1em = font size of element
    column-rule: 1px solid $color-greyLight-2; // Line between two columns

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; // Need to specify language in HTML doc NB
  }

  // OPEN STATES
  &:target {
    //popup ID used in popup class (in HTML) along with specified route #popup
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-greyDark-2;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
